$primaryColor:#9C27B0;
$primaryLightestColor: #F3E5F5;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#3cb027;
$accentTextColor:#212121;

@import '../../../src/assets/sass/theme/_theme_light';
