$primaryColor:#9FA8DA;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: #212121;
$primaryTextColor:#121212;
$accentColor:#F48FB1;
$accentTextColor:#121212;

@import '../../../src/assets/sass/theme/_theme_dark';
