$primaryColor:#673AB7;
$primaryLightestColor: #EDE7F6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#89b73a;
$accentTextColor:#212121;

@import '../../../src/assets/sass/theme/_theme_light';
