$primaryColor:#795548;
$primaryLightestColor: #EFEBE9;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#486c79;
$accentTextColor:#ffffff;

@import '../../../src/assets/sass/theme/_theme_light';
