$primaryColor:#009688;
$primaryLightestColor: #E0F2F1;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#96000f;
$accentTextColor:#ffffff;

@import '../../../src/assets/sass/theme/_theme_light';
